.vs/CMake Overview
.vs/cmake.db
.vs/CMakeWorkspaceSettings.json
.vs/launch.vs.json
.vs/main/VSWorkspaceState.json
.vs/ProjectSettings.json
.vs/sentence-reader.slnx/FileContentIndex/06b00f6d-d103-4943-a3cc-ad3a385d1f24.vsidx
.vs/sentence-reader.slnx/FileContentIndex/07360393-4e23-49d2-925a-06dddd85a98c.vsidx
.vs/sentence-reader.slnx/FileContentIndex/2f56ecdc-903a-4dc6-9d7f-e42edd06ca50.vsidx
.vs/sentence-reader.slnx/FileContentIndex/461ab4e4-fb49-4932-8ae9-a5dea6e90c03.vsidx
.vs/sentence-reader.slnx/FileContentIndex/54d79a8b-c1d8-480e-a002-07ee9802b445.vsidx
.vs/sentence-reader.slnx/v18/.wsuo
.vs/sentence-reader.slnx/v18/Browse.VC.db
.vs/sentence-reader.slnx/v18/Browse.VC.db-shm
.vs/sentence-reader.slnx/v18/Browse.VC.db-wal
.vs/sentence-reader.slnx/v18/DocumentLayout.backup.json
.vs/sentence-reader.slnx/v18/DocumentLayout.json
.vs/sentence-reader.slnx/v18/ipch/AutoPCH/731229e1136a679d/PARSER.ipch
.vs/sentence-reader.slnx/v18/ipch/AutoPCH/9fdce74e215a4434/MAIN.ipch
.vs/sentence-reader.slnx/v18/ipch/AutoPCH/a4c1a3ed670f2cec/RULE.ipch
.vs/sentence-reader.slnx/v18/ipch/AutoPCH/b63c2afdde4fd276/PARSER.ipch
.vs/sentence-reader.slnx/v18/ipch/AutoPCH/efc44db398606e5f/RULE.ipch
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
